<!DOCTYPE html>
<html>
    <head>
        <title>CONTACTANOS</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../img/Logo.jpeg">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="class__Header">
            <img src="../img/Nuevologo.jpg" class="class__img" alt="Logo" width="200px" height="200px">
            <nav class="class">
               
                <ul class="class">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./galeria.html">Galeria</a></li>
                    <li><a href="./ubicanos.html">Ubicanos</a></li>
                    <li><a href="">Contactanos</a></li>
                   </ul>
            </nav>
           
        </header>
        <h1>¿Querés hospedarte con nosotros?</h1>
        <p>Dejanos tu consulta y a la brevedad nos comunicaremos con vos!</p>

        <form>
           <label for="fnombre">Nombre</label> 
           <input type="text" id="fnombre" required placeholder="Nombre">
           <br>
           <label for="fapellido">Apellido</label> 
           <input type="text" id="fapellido" required placeholder="Apellido">
           <br>
           <label for="femail">Email</label> 
           <input type="email" id="femail" required placeholder="Email">
           <br>
           <p>Cantidad de huespedes</p>
            <select name="Cantidad de huespedes">
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
           </select>
           <br>
           <textarea placeholder="Dejanos tu mensaje"></textarea>
           <input type="submit"value="Enviar">
           
        </form>

         <!--Pie de página-->
         <footer>
            <div class="class__Footer">
                <h2>Seguinos en <a href="https://www.instagram.com/complejocauquen/?utm_medium=copy_link">Instagram</a> y compartinos fotos de tu estadía!
                </h2>
                           
                <h5> Autor: Aráoz Lucía  Copyright 2022</h5>

              </div>
        </footer>
    </body>
</html>