<!DOCTYPE html>
<html>
    <head>
        <title>GALERIA</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../img/Logo.jpeg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--Menu Principal-->
        <header class="class__Header">
            <img src="../img/Nuevologo.jpg" class="class__img" alt="Logo" width="200px" height="200px">
            <nav class="class">
               
                <ul class="class">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="./ubicanos.html">Ubicanos</a></li>
                    <li><a href="./contactanos.html">Contactanos</a></li>
                   </ul>
            </nav>
            <div class="title"> 
                <h1>Complejo de cabañas Cauquén</h1>
                </div>
           
        </header>
        <!--Imagen-->
        <main >
            <section class="galeria"><img src="../img/habitacion.JPG" alt="Habitacion" width="300px" height="300px"></section>
            <section class="galeria1"><img src="../img/paisaje.jpg"alt="Paisaje" width="300px" height="300px"></section>
            <section class="galeria2"><img src="../img/frentenevado.JPG" alt="Rocas" width="300px" height="300px"></section>
            <section class="galeria"><img src="../img/habitacion1.JPG"alt="Camas" width="300px" height="300px"></section>
            <section class="galeria3"><img src="../img/vistasuperior.JPG"alt="Vistasuperior" width="300px" height="300px">  </section>
            <section class="galeria4"><img src="../img/backg.jpg"  alt="Balcon" width="300px" height="300px"></section>
            <section class="galeria5"><img src="../img/vista.JPG" alt="VistaHabitacion" width="300px" height="300px"></section>
            <section class="galeria6"><img src="../img/backg2.jpg" alt="Rocas" width="300px" height="300px"></section>
           
        </main>
      
       
         <!--Pie de página-->
         <footer>
            <div class="class__Footer">
                <h2>Seguinos en <a href="https://www.instagram.com/complejocauquen/?utm_medium=copy_link">Instagram</a> y compartinos fotos de tu estadía!
                </h2>
                           
                <h5> Autor: Aráoz Lucía  Copyright 2022</h5>

              </div>
        </footer>
    </body>
</html>