<!DOCTYPE html>
<html>
    <head>
        <title>UBICANOS</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../img/Logo.jpeg">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="class__Header">
            <img src="../img/Nuevologo.jpg" class="class__img" alt="Logo" width="200px" height="200px">
            <nav class="class">
               
                <ul class="class">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./galeria.html">Galeria</a></li>
                    <li><a href="">Ubicanos</a></li>
                    <li><a href="./contactanos.html">Contactanos</a></li>
                   </ul>
            </nav>
           
        </header>

        <h1> Vení a conocernos!</h1>
        <span>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.626965291502!2d-64.76234638528393!3d-32.07933683583876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2c7184499f197%3A0xcf2e6e21a5bcba73!2sVilla%20Yacanto%20De%20Calamuchita!5e0!3m2!1ses-419!2sar!4v1643608205797!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <p>Estamos ubicados en en el corazón de las sierras. Yacanto de Calamuchita es el lugar perfecto parar descansar,
                conectarse con la naturaleza y disfrutar de un hermoso ambiente familiar.
            </p>
        </span>

         <!--Pie de página-->
         <footer>
            <div class="class__Footer">
                <h2>Seguinos en <a href="https://www.instagram.com/complejocauquen/?utm_medium=copy_link">Instagram</a> y compartinos fotos de tu estadía!
                </h2>
                           
                <h5> Autor: Aráoz Lucía  Copyright 2022</h5>

              </div>
        </footer>
    </body>
</html>